@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body style="background-color: snow;">
        <div class="text-center">
            <h1 class="display-4">Bienvenue</h1>
            </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/3_Summary_404e126c19.png" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="~/images/cybersecurite-metiers-1200x800.jpg" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="~/images/OIP.jpeg" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="~/images/R (1).png" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="~/images/R.png" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="~/images/v2-53ff1a3f6c8561817ea41498ce159214_r.jpg" class="d-block w-100">
                        </div>
                    </div>
                </div>
                

    </body>
